[webserver]
; ip address to bind
bind = 127.0.0.1
; port to bind
port = 9091
; path to directory where cotains files that will be served by this webserver
; may be absolote or relative to this config file
root = public/

[url-maps]
; Maps url into server:port
/proxy/telnet = localhost:23
/proxy/ssh = localhost:22
/proxy/stomp = localhost:61613
/proxy/http = www.google.com:80

